<div class="element">
                     {{fields.field_image.content}}
                    <h3 class="second-title-heading">{{fields.field_title.content}}</h3>
                    <p>
                      {{fields.field_txt.content}}
                    </p>
                             
</div>
