/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
*/
/*Se define estilo global*/


@import "bourbon";

:root{
    --num-of-slide: 6;
}

*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: rgb(27,35,48) url("images/Path 2.png") bottom no-repeat;
    background-size: 100% 3000px;
    color: rgb(255,255,255);
}

.h3{
    
    font-size: 20px;
}

h2,
nav,
.cta{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

ul,
li{
    list-style:none;
}

a{
    color: rgb(255,255,255);
    text-decoration: none;
}

h2{
    font-size: 40px;

}
main{
    position: relative;
    padding-bottom: 280px;
}

/*Se define estilo para menú superior*/
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 73px 80px;
    background-color: rgb(27,35,48);
}

.nav-items{
    display: flex;
    align-items: center;
}
.nav-items :not(:last-child){
    padding-right: 57px;
}

.nav-items a:hover {
    text-decoration: underline;
}

/*Estilo para la primera parte*/
.firstPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}
.firstPart img{
    width: 720px;
    height: 534px;
}

.firstPart h2{
    width: 734px;
    margin: 36px;
}
.firstPart p{
    width: 742px;
    font-size: 20px;
    padding: 0 30px;
}

.cta{
    width: 280px;
    padding:20px 0;
    border-radius: 28px;
    margin: 30px 0;
    background: linear-gradient(to right,rgb(99,225,217),rgb(52,160,205));
    border: none;
}

.cta:hover{
    background: rgb(138,218,227);
    color: white !important;
    font-weight: bold !important;
    
}

/*Estilo de la segunda parte*/
.secondPart{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 145px 75px;
    margin: 157px 0;
    padding: 0 280px;
}

.element{
    text-align:center;
    font-family: "Open Sans";
    font-size: 14px;
}

.element h3{
    margin: 25px 0 12px 0;
    font-size: 20px;
    font-family: "Raleway";

}

.firstPart p{
    margin: 25px 0 12px 0;
    font-size: 14px;
}

/*Estilo de la tercera parte*/
.thirdPart {
    display: flex;
    align-items: center;
    padding: 0 100px;
  }
  
  .img-box img {
    height: 463.63px;
    width: 614.76px;
    margin-right: 57px;
  }
  
  .text-box :not(:last-child) {
    margin-bottom: 25px;

    font-size: 16px;
  }

  .text-box h2{
    font-size: 40px !important;
  }
  
  .desc-link {
    justify-content: space-around;
    color: rgb(99,225,217);
    border-bottom: 1px solid rgb(99,225,217);
  }

  .desc-link:hover {
    color: rgb(255,255,255);
  }
  
  .desc-link img {
    vertical-align: middle;
    margin-left: 3px;
  }

  /* Estilo para la cuarta parte */

.fourthPart {
    display: flex;
    gap: 40px ;
    padding: 120px;
  }
  

/*oEstilo y funcionamiento de carrusel*/
.slider-container {
    display: flex;
    overflow-x: scroll;
    
    scroll-snap-type: x mandatory;
}
  
.slider-container img {
    
    object-fit: cover;
    scroll-snap-align: center;
}

.itemCarrousels {
    
    flex: 0 0 400px;
    width: 400px;
    height: 203px;
    margin-right:12px;
    margin-left: 12px;
    width: 100% !important;
    
    background: rgb(32,42,60);
    border-radius: 3.93px;
    position: relative;
}

.itemCarrousels p {
    margin-top: 30px;
    margin-bottom: 20px;
    padding:10px;
  }
.persona{
    display: flex;
}
.persona img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 10px;
}

.descripcion h3 {
    font-size: 10px;
    font-weight: bold !important;
  }
  
.descripcion p {
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 0px;
    font-size: 8px;
    text-align: left;
  }



/* Estilo para la quinta parte */

.fivePart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(27,35,48);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px 74px 40px 74px;
    border-radius: 5px;
    bottom: -159px;
  }
  
  .fivePart h2 {
    margin-bottom: 30px;
    font-size: 32px;
  }
  
  .fivePart p {
    margin-bottom: 36px;
    text-align: center;
  }
  form {
    display: flex;
    align-content: center;
  }

  input[type="email"] {
    width: 480px;
    height: 48px;
    padding: 20px 47px;
    outline: none;
    border: none;
    border-radius: 24px;
    margin-right: 20px;
  }
  
  input[type="submit"] {
    color: rgb(255,255,255);
    margin: 0;
  }
  
  
  
  ::placeholder {
    opacity: 0.4;
  }

  /* footer */

footer {
    background: rgb(11,21,36);
    padding: 200px 80px 80px 100px;
    display: grid;
    grid-template-columns: 4fr 3fr 1fr 1fr 2fr;
    grid-template-rows: auto;
    column-gap: 70px;
    grid-template-areas:
      "logo . . . ."
      "location  contact gmail more-links social-icons";
  }
  
  .footer-logo {
    grid-area: logo;
    margin-bottom: 35px;
  }
  
  .footer-location {
    grid-area: location;
    display: grid;
    grid-template-columns: 5% 95%;
  }
  
  .footer-location span {
    padding-left: 35px;
  }
  
  .footer-contact {
    grid-area: contact;
  }
  
  .footer-contact p {
    margin-bottom: 26px;
  }
  
  .footer-contact img {
    margin-right: 24px;
  }
  
  .footer-links {
    grid-area: gmail;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .footer-links a {
    margin-bottom: 24px;
    font-size: 16px;
  }
  
  .footer-more-links {
    grid-area: more-links;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .footer-more-links a {
    margin-bottom: 24px;
    font-size: 16px;
  }

  .footer-more-links a:hover {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: bold !important;
  }

  
  
  .social-icons {
    grid-area: social-icons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .social-icons i {
    font-size: 30px;
  }

  
  
  /* Mobile iPhone X*/
  
  @media (max-width: 375px) {
    html {
      font-size: 10px;
      background: rgb(27,35,48) url("images/Path 2 Copy.png") bottom no-repeat;
      background-size: 100% 3955px;
    
    }
  
    h2 {
      font-size: 25px;
    }
  
    /* nav */
    .nav {
      padding: 24px 20px;
    }
  
    .nav-items :not(:last-child) {
      padding-right: 24px;
    }
    
    .brand-logo img {
      width: 80px;
      height: 24px;
    }
  
    /* First Part */ 
    .firstPart{
        min-height: 0vh;
        margin-top:48px;
        margin-bottom: 115px;
    }
    .firstPart img {
      width: 304px;
      height: 225px;
    }
    .firstPart h2 {
      width: 302px;
      margin: 23px;
    }
    .firstPart p {
      width: 292px;
      font-size: 12px;
      padding: 0 23px;
    }
  
    .cta {
      width: 242px;
      padding: 18px 0;
    }
  
    /* second Part */
    .secondPart{
      grid-template-columns: 1fr;
      gap: 87px 0px;
      padding: 0 38px;
      margin: 10px 0;
    }
  
    /* Third part */
  
    .thirdPart {
      flex-direction: column;
      padding: 0 25px;
    }
  
    .img-box img {
      height: 229.27px;
      width: 304px;
      margin: 0px 0px 52px 0px;
    }
  
    /* Fourth part */
    .fourthPart {
      grid-template-columns: 1fr;
      gap: 24px;
      padding: 150px 22px;
    }
    .testimonio:first-child::before {
      left: 4px;
    }

    .testimonio p {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .descripcion p {
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 8px;
    }

    .carrusel>div {
        width: 280px;
    }

    .itemCarrousels {
    
        flex: 0 0 300px;
        width: 300px;
        
    }
  
    /* five part */ 
    .fivePart {
      padding: 40px 25px;
      bottom: -175px;
    }
  
    form {
      flex-direction: column;
    }
    input[type="email"],
    input[type="submit"] {
      width: 280px;
      margin: 0px 0px 25px 0px;
    }
  
    /* footer */
    footer {
      grid-template-columns: 1fr;
      padding: 280px 27px 42px 27px;
      column-gap: 0;
      row-gap: 20px;
      grid-template-areas:
        "logo"
        "location"
        "contact"
        "links"
        "more-links"
        "social-icons";
    }
  
    .social-icons i{
      font-size: 28px;
    }
  
    .fa-facebook{
      justify-self: end;
    }
    .fa-twitter{
      justify-self: center;
    }
    .fa-intagram{
      justify-self: start;
    }
  }
  
  